td {
	font-size: 50px;
	text-align: center;
}

.fontSize span {
	font-size: 25px;
}

.beginTable {
	border: 5px solid black;
	border-collapse: collapse;
}

.correctCell {
	background-color: green;
	color: white;
}

.incorrectCell {
	background-color: red;
}

img {
	object-fit: cover;
	max-height: 100px;
	max-width: 100%;
}

.defaultTable4 {
	border: 1px solid black;
	min-width: 200px;
	min-height: 100px
}